:root {
    text-color: #44566C;
}
html {
    background: url(/assets/icon/bg.svg);
}
a {
    text-decoration: none;
    text-emphasis: none;
}
.page_about {
    max-width: 1920px;
    max-height: 2156px;
    padding-right: 15px;
    padding-left: 15px;
    box-sizing: border-box;
}
.page_about__sum {
    width: 100%;
    display: flex;
    position: relative;
}
.page_about__personal {
    width: auto;
    margin-top: 241px;
    display: flex;
    justify-content: center;
}
.page_about__menu {
    width: auto;
    padding: 10px;
    background-color: white;
    border-radius: 16px;
    margin-top: 240px;
    display: flex;
    position: absolute;
}
.page_about__overview {
    width: auto;
    background-color: white;
    border-radius: 20px;
    margin-top: 424px;
    margin-left: 40px;
    margin-right: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.link__menu {
    padding: 21px;
    border-radius: 12px;
    background-color: aliceblue;
    display: flex;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
/* mouse over link */
a:hover.link__menu {
    color: white;
    text-overflow: ellipsis;
    overflow: visible;
    background: linear-gradient(153.43deg, #FA5252 16.67%, #DD2476 100%);
}
.button {
    margin: 20px;
}
.icon__button {
    width: 25px;
    height: 25px;
}
.button__title {
    width: 55px;
    text-align: center;
}
img:hover.icon__button {
    -webkit-filter: brightness(0) invert(1);
  filter: brightness(0) invert(1);
}
.button__About {
    background: linear-gradient(93.74deg, #FA5252 0%, #DD2476 100%);
}
.button__About .icon__button {
    -webkit-filter: brightness(0) invert(1);
    filter: brightness(0) invert(1);
}
.button__About .button__title {
    color: white;
}
.personal__ava {
    top: 120px;
    position: absolute;
}
.img__ava {
    width: 240px;
    height: 240px;
    border-radius: 20px;
}
.personal__info {
    width: auto;
    background-color: white;
    box-sizing: border-box;
    border-radius: 20px;
    text-align: center;
    font-style: normal;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.personal__info1 {
    margin-top: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.info1__name {
    font-family: 'Roboto Slab';
    font-weight: 500;
    font-size: 26px;
    line-height: 34px;
    text-align: center;
    color: #000000;
    max-width: 12em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.info1__major {
    margin-top: 15px;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    background: #F3F6F7;
    padding: 5px 20px;
    border-radius: 8px;
}
.info1__socialmedia {
    margin-top: 20px;
    display: flex;
    flex-flow: row;
}
.a_socialmedia {
    margin: 0px 10px 0px 10px;
    border-radius: 8px;
    background: #F3F6F7;
    display: flex;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.icon__app {
    width: 22px;
    height: 22px;
    padding: 10px;
}
.personal__info2 {
    width: auto;
    padding: 30px;
    margin: 30px;
    background: #F3F6F6;
    border-radius: 16px;
    display: flex;
}
.info2__current {
    display: flex;
}
#not__line {
    border-bottom: 1px solid #e3e3e3;
}
.hr {
    margin-top: 10px;
}
.detail {
    margin-left: 10px;
    display: flex;
    align-self: center;
    justify-content: center;
    flex-direction: column;
}
.emotion {
    padding: 12px 10px;
    background-color: white;
    border-radius: 8px;
}
.icon__item {
    width: 25px;
    height: 25px;
}
.item {
    text-align: start;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    /* identical to box height */
    color: #44566C;
}
.item__clearly {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */
    color: #000000;
}
.text_email {
    max-width: 15em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.text_local {
    max-width: 15em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.personal__downloadCV {
    display: flex;
    justify-content: center;
}
a.link__download {
    width: 80%;
    color: white;
    padding: 15px;  
    margin-top: 30px;
    background: linear-gradient(93.74deg, #FA5252 0%, #DD2476 100%);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.icon__download {
    width: 22px;
    height: 22px;
    margin-right: 10px;
}
.overview__header {
    margin: 60px 114px 0px 60px;
}
.head__aboutme {
    font-style: normal;
    display: flex;
    align-items: center;
    flex-direction: row;
}
.aboutme {
    font-family: 'Roboto Slab';
    font-weight: 700;
    font-size: 40px;
    line-height: 53px;
}
.linelight {
    width: 100%;
    height: 2%;
    margin-left: 30px;
    background: linear-gradient(93.74deg, #FA5252 0%, #DD2476 100%);
    border-radius: 10px;
}
.aboutme__text {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #44566C;
    margin-bottom: 60px;
}
.aboutme__text1 {
    margin-bottom: 20px;
}
.aboutme__text2 {}

.overview__body {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.body1 {
    padding: 60px;
    background: #F8FBFB;
    display: flex;
    flex-wrap: wrap;
}
.body1__title1 {
    margin-bottom: 30px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 39px;
    /* identical to box height */


    color: #000000;
}
.body1__workingskills {
    width: 50%;
}
.info__skill {
    width: 100%;
    margin-top: 30px;
    margin-right: 41px;
}
.line_skill {
    width: 100%px;
    height: 6px;
    background: #EDF2F2;
    border-radius: 18px;    
    margin-top: 8px;
    margin-bottom: 30px;
}
.progress {
    height: 6px;
    border-radius: 18px;
}
.p_html {background: #ff6464;}
.p_css {background: #9272d5;}
.p_js {background: #5185d5;}
.p_rjs {background: #ca56f2;}

.skill__title {
    display: flex;
    justify-content: space-between;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */


    color: #44566C;
}
.body1__knowledges {
    margin-left: 60px;
    flex: 1;
}
.knowledges__info {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
}
#knowledges_span {
    padding: 5px 20px;
    margin: 0px 12px 20px 12px;
    background: #EDF2F2;
    border-radius: 8px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */


    color: #44566C;
}
.body2 {
    margin-top: 60px;
    margin-left: 60px;
    margin-right: 60px;
    display: flex;
}
.body2__para {
    width: 50%;
    margin-right: 60px;
}
.body__title2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 39px;
    /* identical to box height */
    color: #000000;
    display: flex;
    align-items: center;
    flex-direction: row;
}
.title2__img {
    width: 39px;
    height: 39px;
}
.title2__span {
    margin-left: 3%;
}
.info__para {
    width: 100%;
    height: 90px;
    padding: 15px 10px 15px 20px;
    margin-top: 20px;
    background: #FFF4F4;    
    border-radius: 12px;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-direction: column;
}
.para1__span {

}
.para2__span {
    display: flex;
    flex-direction: column;
}
.period {}
.address {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    /* or 175% */


    color: #44566C;
}

#a {background: #FFF4F4;}
#b {background: #EEF5FA;}
#c {background: #FCF4FF;}
#d {background: #FFF1FB;}
#e {background: #F2F4FF;}
#f {background: #FCF9F2;}
.period {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    /* or 175% */
    color: #44566C;
}

.overview__footer {
    width: 100%;
    padding-top: 40px;
    margin-top: 60px;
    background: #F8FBFB;
}
.footer__title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 42px;
    /* identical to box height */


    color: #000000;
    display: flex;
    justify-content: center;
}
.footer__clients {
    margin-top: 33px;
    margin-left: 61px;
    margin-right: 61px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.logo__clients {
    width: 100%;
    height: auto;
}
.allright {
    margin: 20px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    /* identical to box height, or 175% */
    display: flex;
    justify-content: center;
    text-align: center;
    color: #44566C;
}